.wrapper {
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

[class*="__conteiner"] {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.header {
    background-color: #9A7AFF;
    color: white;
    display: flex;
    padding-top: 2rem;
    width: 100%;

}

.header__conteiner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.header__navigation-list {
    display: flex;
    gap: 1rem;

}

.header__navigation-item {

    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

h1,
h2,
h3,
p {
    color: #FFFFFF;
}

.title {
    font-size: 49px;
    font-weight: 800;
    font-family: Inter;
}

.text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
}

.main {
    width: 100%;
    background-color: #9A7AFF;
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.main__image {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 600/400;
    flex: 1 0 auto;
    background-image: url(./img/books.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.main__text-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.button {
    background-color: #33C37E;
    height: 72px;
    width: 169px;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    
}

.pencil{
    background-color: #33C37E;
    width: 100%;  
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.pencil__conteiner{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

.pencil__button{
    background-color:#9A7AFF;
}

.pencil__image{
    background-image: url(./img/pencil.png);
    width: 100%;
    max-width: 720px;
    aspect-ratio: 720/350;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pencil__title{
    max-width: 720px;
}

.pencil__text{
    max-width: 720px;
}

.slayder{
    width: 100%;  
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #9A7AFF;
}


.slayder__conteiner{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}

.swiper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.slayder__image-list{
    background-image: url(./img/list.png);
}

.swiper-wrapper {
  }

.slayder__image-papers{
background-image: url(./img/papers.png);
}

.slayder__image-calendar{
background-image: url(./img/calendar.png);
}

[class*="slayder__image"] {
    width: 100%;
    max-width: 455px;
    aspect-ratio: 455/255;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.analytics__image-book{
    background-image: url(./img/book.png);
    width: 100%;
    max-width: 300px;
    aspect-ratio: 300/170;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.analytics__image-comp{
    background-image: url(./img/comp.png);
    width: 100%;
    max-width: 235px;
    aspect-ratio: 235/165;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.analytics__image-head{
    background-image: url(./img/headphone.png);
    width: 100%;
    max-width: 235px;
    aspect-ratio: 235/165;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.analytics__conteiner{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;

}

.analytics{
    width: 100%;  
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color:#33C37E;
}

.analytics__text{
    color: black;
}

[class*="analytics__block"] {
    background-color: #fff;
}

.analytics__block{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    background-color:#33C37E;
    width: 1130px;
    height: auto;
}

.analytics__blocks {
    display: flex;
    flex-direction: column; 
    gap: 24px; 
    background-color: #33C37E;
  }

.analytics__block-book{
    width: 350px;
    aspect-ratio: 350/480;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

.analytics__block-comp{
    width: 760px;
    aspect-ratio: 760/230;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px;
    align-items: center;
}

.analytics__block-head{
    width: 760px;
    aspect-ratio: 760/230;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px;
    align-items: center;
}

.analytics__title{
    font-size: 22px;
    font-weight: 800;
    font-family: Manrope;
}

.analytics__text{
    font-size: 15px;
    font-weight: 400;
    font-family: Manrope;
}

.analytics__button{
    width: 169px;
    height: 72px;
}