.card__image.--book{
    background-image: url(../../img/book.png);
    width: 100%;
    max-width: 300px;
    aspect-ratio: 300/170;
}

.card__image.--comp{
    background-image: url(../../img/comp.png);
}

.card__image.--head {
    background-image: url(../../img/headphone.png);
}

.card__image{
    width: 100%;
    max-width: 235px;
    aspect-ratio: 235/165;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.analytics__conteiner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;

}

.analytics {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #33C37E;
    z-index: 1;
}



[class*="__card"] {
    background-color: #fff;
}

.row{
    display: flex;
}

.analytics__row {
    gap: 24px;
    justify-content: space-between;
    background-color: #33C37E;
    width: 1130px;
    height: auto;
}

.analytics__column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #33C37E;
}

.analytics__card.--single {
    width: 340px;
    aspect-ratio: 350/480;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 24px;
}

.analytics__card {
    width: 760px;
    aspect-ratio: 760/230;
    display: flex;
    justify-content: center;
    padding: 24px;
    align-items: center;
}

.card__title {
    font-size: 22px;
    font-weight: 800;
    font-family: Manrope;
    color: #000;
}

.card__text {
    font-size: 15px;
    font-weight: 400;
    font-family: Manrope;
    color: black;
}

.card__button {
    min-width: 169px;
    height: 72px;
}


@media (max-width: 770px) {
    .analytics__row {
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .analytics__card {
        flex-direction: column;
        width: 340px;
        gap: 25px;
        padding: 24px;
        aspect-ratio: 350/480;
    }

    .analytics__conteiner {
        padding: 15px;
    }

    .card__title {
        font-size: 20px;
        font-weight: 800;
    }

    .card__text {
        font-size: 15px;
        font-weight: 400;
    }



}

@media (max-width: 990px) {
    .analytics__row {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .analytics__column {
        width: 100%;
    }

    .analytics__card {
        flex-direction: column;
        width: 100%;
        gap: 25px;
        padding: 24px;
        height: 480px;
    }

    .analytics__conteiner {
        padding: 15px;
    }

    .analytics__card.--single {
        width: 100%;
        height: 480px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 25px;
        padding: 24px;
    }
}