.analytics__image-book {
    background-image: url(../../img/book.png);
    width: 100%;
    max-width: 300px;
    aspect-ratio: 300/170;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.analytics__image-comp {
    background-image: url(../../img/comp.png);
    width: 100%;
    max-width: 235px;
    aspect-ratio: 235/165;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.analytics__image-head {
    background-image: url(../../img/headphone.png);
    width: 100%;
    max-width: 235px;
    aspect-ratio: 235/165;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.analytics__conteiner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;

}

.analytics {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #33C37E;
}



[class*="analytics__block"] {
    background-color: #fff;
}

.analytics__block {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    background-color: #33C37E;
    width: 1130px;
    height: auto;
}

.analytics__blocks {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #33C37E;
}

.analytics__block-book {
    width: 350px;
    aspect-ratio: 350/480;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 24px;
}

.analytics__block-comp {
    width: 760px;
    aspect-ratio: 760/230;
    display: flex;
    justify-content: center;
    
    padding: 24px;
    align-items: center;
}

.analytics__block-head {
    width: 760px;
    aspect-ratio: 760/230;
    display: flex;
    justify-content: center;
    
    padding: 24px;
    align-items: center;
}

.analytics__title {
    font-size: 22px;
    font-weight: 800;
    font-family: Manrope;
    color: #000;
}

.analytics__text {
    font-size: 15px;
    font-weight: 400;
    font-family: Manrope;
    color: black;
}

.analytics__button {
    min-width: 169px;
    height: 72px;
    
}