[class*="__cloud"] {
    width: 100%;

    position: absolute;
    max-width: 610px;
    aspect-ratio: 612/232;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main__cloud {
    top: 100px;
    right: -350px;
    background-image: url(../../img/cloud_main.svg);
}

.pencil__cloud {
    top: -10px;
    left: -350px;
    background-image: url(../../img/cloud_pencil.svg);
}

.swiper__cloud {
    top: 1300px;
    left: -350px;
    background-image: url(../../img/cloud__swiper.svg);
}

@media (max-width: 770px) {
    [class*="__cloud"] {
        display: none;
    }

}

@media (max-width: 990px) {
    [class*="__cloud"] {
        display: none;
    }

}