.slayder {
    width: 100%;
    min-height: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9A7AFF;
    gap: 64px;
    z-index: 2;

}


.slayder__conteiner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}

.swiper {
    width: 100%;
    max-width: 100vw;
    overflow: visible;
    height: 100% !important;

}

.swiper-wrapper {
    display: flex !important;
    align-items: stretch !important;
}

.swiper-slide {
    display: flex !important;
    flex-direction: column;
    flex: 1 1 auto;
    margin-left: 0;
    background-color: #9A7AFF;
    padding: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 520px;
    width: 100%;
    gap: 32px;
    border: 1px solid #fff;
    pointer-events: auto;
    transition: all .2s linear !important;

    &:hover {
        background-color: #fff;
        scale: 1.05;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

        & .title,
        & .text {
            color: #9A7AFF;
        }
    }

}



.--list {
    background-image: url(../../img/list.png);
}

.--papers {
    background-image: url(../../img/papers.png);
}

.--calendar {
    background-image: url(../../img/calendar.png);
}

[class*="slayder__image"] {
    width: 100%;
    max-width: 455px;
    aspect-ratio: 455/255;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 auto;
}

/* .active-on-hover {
    background-color: #fff;
}

.active-on-hover .title,
.active-on-hover .text {
    color: #9A7AFF;
} */

.swiper-wrapper {
    width: max-content;
    display: flex;
}


/* .swiper-slide:hover,
.swiper-slide.active-on-hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
} */

@media (max-width: 770px) {
    .slayder {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #9A7AFF;
        gap: 24px;
        min-height: 100vh;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .swiper-slide {

        max-width: calc(100vw - 30px);
    }

}